body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-info p {
    margin: 5px 0;
}

.profile-actions {
    margin-left: auto;
}

.profile-actions button {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.profile-actions button:hover {
    background-color: #0056b3;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}